@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1123px;
  margin: 0 auto;
  width: 100%;
  padding: 0 23px;
}

a {
  text-decoration: none;
}
a:hover {
  color: #d87d4a;
}

ul {
  list-style: none;
}

/* normalize style */

.text {
  width: 100%;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: clamp(2rem, 3vw, 5rem);
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #ffffff;
  height: 239px;
  text-align: center;
  padding: 200px 0;
  background-color: #000;
}
/* speakers section start */
.speakers {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  padding-top: 100px;
}
.speakers-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.speakers__item-title {
  width: 90%;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: clamp(2rem, 3vw, 5rem);
  line-height: 66px;
  letter-spacing: 2px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.speakerimage {
  height: auto;
  width: 100%;
}
.speakers-bgc {
  max-height: min-content;
  padding: 0 10%;
  width: 90%;
  height: 560px;
  background: #f1f1f1;
}
.speakers__item-text {
  width: 100%;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: clamp(0.8rem, 1vw, 2rem);
  line-height: 25px;
  color: #000;
  opacity: 0.75;
  margin-bottom: 40px;
}

.speakers__item-link {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: clamp(0.3rem, 1vw, 1rem);
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  background: #d87d4a;
  padding: 15px 30px;
}
.speaker-text {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: clamp(10px, 1vw, 14px);
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #d87d4a;
}
.laptop-text {
  padding: 50px;
}

/* speakers section end */

/* category section start */
.catergory-padding {
  padding: 250px 0;
}
.category__item {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.category__item-list-bgc {
  width: 100%;
  height: 204px;
  border-radius: 8px;
  background-color: #f1f1f1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 20px;
}
.category__item-list {
  width: 500px;
  position: relative;
  margin-right: 20px;
}
.category__item-item-title {
  font-weight: 700;
  font-size: clamp(0.5rem, 2vw, 18px);
  line-height: 25px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000000;
  margin: 15px 0;
}
.category__item-img {
  position: absolute;
  left: 30%;
  bottom: 67%;
}
.catergory__item-link img {
  margin: 0 10px;
}
/* category section end *
/* gear seciton start */
.gear {
  padding: 100px 0;
}
.gear__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gear__item-list-title {
  max-width: 445px;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: clamp(30px, 4vw, 50px);
  line-height: 55px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #000000;
}
.laptop-bottom {
  display: none;
}
.gear-img {
  width: 86%;
  height: 50%;
  margin-left: 70px;
  border-radius: 8px;
}
span {
  color: #d87d4a;
}
.gear__item-list-text {
  max-width: 445px;
  width: 100%;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: clamp(0.6rem, 2vw, 0.8rem);
  line-height: 25px;
  color: #000000;
  opacity: 0.5;
  margin-top: 32px;
}
/* gear seciton end */
/* footer start */
footer {
  height: 365px;
  background: #101010;
}
.position {
  position: relative;
}
.footer::after {
  content: '';
  width: 100px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 23px;
  background: #d87d4a;
}
.footer {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__link {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer__link-item {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: clamp(0.5rem, 1vw, 2rem);
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-about {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 56px;
}
.social-media {
  display: flex;
}
.twitter {
  margin: 20px;
}
.footer-text {
  width: 50%;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: clamp(0.5rem, 2vw, 16px);
  line-height: 25px;
  color: #ffffff;
  opacity: 0.5;
}
.footer-end {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: clamp(0.5rem, 2vw, 16px);

  line-height: 25px;
  color: #ffffff;
  opacity: 0.5;
}
.social-media1 {
  display: none;
}
/* footer end */
@media (max-width: 768px) {
  .container {
    max-width: 698px;
    margin: 0 auto;
  }
  .navbar {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .hero {
    background-position: center;
  }
  .fixed {
    width: 100%;
    padding: 0 23px;
  }
  .hero__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .fixed-container {
    margin: 0 auto;
    padding: 0;
  }
  .navbar__item-link {
    display: none;
  }
  .category__item-img {
    width: 90px;
    left: 25%;
    bottom: 130px;
  }
  .laptop-text {
    padding: 0;
    margin-top: 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .speakers {
    max-width: 700px;
    background-image: url(../image/bgc.png);
    background-position: 0 -120px;
    background-size: contain;
  }
  .speakers-item {
    flex-direction: column;
  }
  .speakers-item img {
    height: 237px;
    width: 190px;
  }
  .speakers__item-title {
    line-height: 40px;
    width: 258px;
    text-align: center;
  }
  .speakers__item-text {
    width: 199px;
    margin-bottom: 20px;
    text-align: center;
  }
  .product {
    background: url('../image/laptop-speakers.png');
  }
  .itme {
    flex-direction: column-reverse;
  }
  .speakerimage {
    width: 100px;
  }
  .speakers-bgc {
    width: 100%;
    height: auto;
    padding: 100px;
  }
  .earphone-img {
    height: 325px;
  }
  .gear__item {
    flex-direction: column-reverse;
    text-align: center;
  }
  .gear__item-list-title .gear__item-list-text {
    width: 573px;
  }
  .speakers__item-text {
    width: 70%;
  }
  .gear-img {
    display: none;
  }
  .laptop-bottom {
    width: 100%;
    display: block;
    margin-bottom: 63px;
  }
  footer {
    height: 100%;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .footer__link {
    width: 60%;
    margin-top: 20px;
  }
  .footer-text {
    width: 100%;
  }
  .social-media {
    display: none;
  }
  .laptop-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .social-media1 {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 327px;
  }
  .hero__item-list-heading {
    width: 328px;
  }
  .category__item {
    flex-direction: column;
  }
  .category__item-list {
    margin: 0;
  }

  .category__item-list-bgc {
    width: 290px;
    height: 165px;
    align-items: center;
    margin-top: 68px;
  }
  .category__item-img {
    position: absolute;
    width: 80px;
    left: 100px;
    bottom: 100px;
  }
  .itme {
    flex-direction: column-reverse;
  }
  .speakers__item-link {
    font-size: 11px;
  }
  .category__item-list {
    width: 307px;
  }
  .product {
    padding: 100px 40px;
    background: url(../image/Bitmap1.png);
    background-size: contain;
  }
  .earphone {
    flex-direction: column;
  }
  .earphone-img {
    height: 80%;
    width: 100%;
    margin-bottom: 24px;
  }
  .center {
    margin: 0;
    width: 100%;
  }
  .earphone-item {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
  }
  .product__item-link {
    max-width: max-content;
  }
  .product__item-title {
    margin: 10px 0;
  }
  .laptop-bottom {
    display: none;
  }
  .gear-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .gear__item-list-text {
    font-size: 15px;
  }
  .footer {
    height: 300px;
  }
  .footer img {
    margin: 0 auto;
  }
  .footer::after {
    left: 35%;
  }
  .footer__link {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .footer__link-item {
    font-size: 13px;
  }
  .footer__link li {
    margin: 5px;
  }

  .footer-text {
    text-align: center;
    font-size: 15px;
  }
  .laptop-footer {
    flex-direction: column;
  }
  .footer-end {
    font-size: 13px;
  }
}
